<?xml version="1.0" encoding="UTF-8"?>
<data xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./pages.xsd">

	<posttype>page</posttype>
	<description>List of public editable page resources for the enduser to manage</description>
	<version>1.0</version>
	
	<posts>
		<post>
			<post_id></post_id>
			<name></name>
			<mapping></mapping>
			<content></content>
		</post>
		<post>
			<post_id></post_id>
			<name></name>
			<mapping></mapping>
			<content></content>
		</post>		
	</posts>
	
	<widgets>
		<widget>
			<widget_id></widget_id>
			<widget_type>static</widget_type>
			<name></name>
			<content></content>
		</widget>
		<widget>
			<widget_id></widget_id>
			<widget_type>static</widget_type>
			<name></name>
			<content></content>
		</widget>		
	</widgets>
	
</data>