/*
bidX Group Theme Specific styles
Author: msp
Company: bidX;
*/

/*******************************************************************************************
*
*   Group specific customizable styles
*
********************************************************************************************/


    /* End addon classes */

    /* Specific element overwrites. require LESS to replace colour with variable */

        /************************ Typografic styles ***************************/
        /************************ End Typografic styles ***************************/

        /************************  Form input styles *******************************/
/*            .bidx-checkbox-checked,
            .checkbox.checked:hover .second-icon
            {
                background-color: #5e84aa ;

            }

            .checkbox.checked .icons,
            .radio.checked .icons {
                color:                      #5e84aa;
            }
*/        /************************  End Form input styles *******************************/

    /* end element overwrites */





