/*
bidX Group Theme Specific styles
Author: msp
Company: bidX;
*/

/*******************************************************************************************
*
*   Group specific customizable styles
*
********************************************************************************************/

    /* Addon classes */

        body.bidx {
            color:                      inherit;
        }

        .bidx .bidx-theme-colour-one,
        .bidx .bidx-theme-colour-one:hover {
            background-color:           #3da09b ;    /* background-color one */
        }

        .bidx  .bidx-theme-colour-two,
        .bidx  .bidx-theme-colour-two:hover {
            background-color:           #e4488a;    /* background-color two */
        }

        .bidx  .bidx-theme-colour-panel-one {
            background-color:           #f6f0e8;    /* background-color three */
        }

        .bidx .bidx-theme-colour-header {
            background-color:           #055554 ;    /* background-color three */
        }
        .bidx .bidx-theme-colour-footer {
            background-color:           #113546;
        }



    /* End addon classes */

    /* Specific element overwrites. require LESS to replace colour with variable */

        /************************ Typografic styles ***************************/
            a,
            a:hover,
            a:focus,
            header.navbar .nav > li.active > a,
            header.navbar .nav > li.active > a:hover,
            header.navbar .nav > li.active > a:focus {
                color:                      #3da09b;    /* text color one */
            }

        /************************ End Typografic styles ***************************/

        /************************  Form input styles *******************************/
            .bidx-checkbox-checked,
            .checkbox.checked:hover .second-icon, /* this is the hover while the checkbox has just been checked */
            .radio.checked:hover .second-icon {
                background-color: #2F3670 ;

            }

            .btn.active {
                background-color:           #e4488a;    /* background-color two */
                color:                      #fff;
            }
        /************************  End Form input styles *******************************/

    /* end element overwrites */





